@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {

  /* #8357e5 - ROXO ROCKETSEAT */
  /* #9147ff - ROXO TWITCH */

  --color-primary: #8357e5;
  --color-white: #fff;
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='5' height='5' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(123)'%3E%3Crect width='100%25' height='100%25' fill='rgba(0, 0, 0,1)'/%3E%3Cpath d='M-20 20l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20-20l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 60l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20z ' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M0 31l20-20l20 20l20-20l20 20l20-20l20 20v-2l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM0-9l20-20l20 20l20-20l20 20l20-20l20 20v-2l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM0 71l20-20l20 20l20-20l20 20l20-20l20 20v-2l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20z ' fill='rgba(131, 87, 229,1)'/%3E%3Cpath d='M-20 40l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 0l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 80l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20z ' fill='rgba(26, 32, 44,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  /*background-size: 100% 100%;*/
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  line-height: 1.7;
}

.layout {
  height: 768px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
/*#1ae6c1*/
input {

  background: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
  color: var(--color-white);
  padding: 1.5rem;
  resize: none;
  max-width: 40rem;

}

h1 {
  font-size: 3rem;
}

.container__search {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

form {
  display: flex;
  gap: 1rem;
}

/* primary #9147ff */
/*hover #772ce8*/
button {

  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  transition: var(--transition);
  width: max-content;

}

button:hover {
  background: #772ce8;
  border-color: transparent;
}



/* SPINNER */

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid #8357e5;
  animation: spinner-bulqg1 1.1199999999999999s infinite linear alternate,
  spinner-oaa3wk 2.2399999999999998s infinite linear;
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
