<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <title>shrtner</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo32.png}">



</head>
<body>
<section class="layout">

    <div class="container__search">
        <h1>shrtner <img th:src="@{/images/logo32.png}"/> </h1>
        <form action="#" th:action="@{/submit}" method="post" th:object="${urlRequest}">
            <input placeholder="your url" type="text" name="url"  th:value="${url}" required/>

            <button value="submit">do it</button>

        </form>

    </div>



<!--    <div style="display: none;" id="loading" class="spinner"></div>-->

</section>
</body>
</html>

<script type="application/javascript">

    // $(window).load(function() {
    //     document.getElementById('loading').style.display = "block";
    // });

    // const target = document.querySelector('form input');
    //
    // target.addEventListener('focus', (event) => {
    //     navigator.clipboard.readText()
    //         .then(text => {
    //             if(text.startsWith('http') && isValidUrl(text)) {
    //                     target.value = text;
    //             }
    //         })
    //         .catch(err => {
    //             console.error('Failed to read clipboard contents: ', err);
    //         });
    // });
    //
    // function isValidUrl(_string){
    //     const matchPattern = /^(?:\w+:)?\/\/([^\s\.]+\.\S{2}|localhost[\:?\d]*)\S*$/;
    //     return matchPattern.test(_string);
    // }




</script>
